@import url('https://fonts.googleapis.com/css?family=Quicksand|Titillium+Web&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
}
h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding-top: 15px;
}

/*NAV*/
.navbar {
    z-index: 100;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    background: #162936f5;
  }
#logo_nav{ 
    width: 70px;
    height: 70px;
    margin-left: 70px;
}
#palpitar{
    width: 35px;
    height: 25px;
    margin-right: 2%;
}
